*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.so
*.dylib
*.a
.kotlin

lwk.native.kt
lwk.h

lwk.kt
lwk.common.kt
lwk.android.kt
lwk.jvm.kt
