target*
*swp
bak*
bin/
.vscode
debug.log
lwk_bindings.kt
.idea
flash_image.bin
qemu_efuse.bin
context/jade-emulator/Dockerfile
.direnv
result
*__pycache__
venv/
node_modules/
docs/book/
lwk_boltz/Cargo.lock
lwk_bindings/examples/swaps/
.cursor/
.cursorrules
swaps/
