
[profile.ci]
retries = 3
test-threads = 6
failure-output = "immediate-final"                     # Print out output for failing tests as soon as they fail, and also at the end of the run (for easy scrollability).
fail-fast = false                                      # Do not cancel the test run on the first failure.
slow-timeout = { period = "60s", terminate-after = 3 } # test tagged as slow after X seconds, hard-terminated after 3 periods
leak-timeout = "5s"                                    # test is leaky if after termination, test still has stdout or stderr open (subprocess probably still running) 

[profile.ci.junit]
path = "junit.xml"

[profile.unit]
slow-timeout = { period = "1s", terminate-after = 1 }

[[profile.unit.overrides]]
# This test generates 256 cryptographic proofs which takes a few seconds
filter = 'test(test_add_input_exceeds_limit)'
slow-timeout = { period = "10s", terminate-after = 1 }

[[profile.default.overrides]]
# Some AMP0 unit tests are extremely slow
filter = 'test(slow_amp0)'
slow-timeout = { period = "60s", terminate-after = 1 }
