on:
  push:
    branches:
      - master
  pull_request: {}

name: Build python wheels on mac and windows

jobs:


  linux-wheels:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: docker://ghcr.io/pyo3/maturin:latest
        with:
          entrypoint: bash
          args: -c "python3 -m pip install uniffi-bindgen==0.28.0 && maturin build --compatibility manylinux2014 --release -m lwk_bindings/Cargo.toml -b uniffi"
      - uses: actions/upload-artifact@v4
        with:
          name: linux-wheels
          path: target/wheels


  osx-wheels:
    strategy:
      matrix:
        os: ["macos-14"]
    runs-on: ${{ matrix.os }}
    steps:
     - uses: actions/checkout@v4
     - uses: dtolnay/rust-toolchain@1.85.0
       with:
         components: "clippy,rust-src,rustfmt" # required by maturin build
     - uses: actions/setup-python@v5
       with:
         python-version: "3.12"
     - run: python3 -m pip install maturin
     - run: python3 -m pip install uniffi-bindgen==0.28.0  # must be the same version as the dep in lwk_bindings/Cargo.toml
     - run: maturin build --release -m lwk_bindings/Cargo.toml -b uniffi
     - uses: actions/upload-artifact@v4
       with:
         name: osx-wheel-${{ matrix.os }}
         path: target/wheels

  windows-wheels:
    runs-on: windows-latest
    steps:
     - uses: actions/checkout@v4
     - uses: dtolnay/rust-toolchain@1.85.0
       with:
         components: "clippy,rust-src,rustfmt" # required by maturin build
     - uses: actions/setup-python@v5
       with:
         python-version: "3.12"
     - run: python3 -m pip install maturin
     - run: python3 -m pip install uniffi-bindgen==0.28.0  # must be the same version as the dep in lwk_bindings/Cargo.toml
     - run: maturin build --release -m lwk_bindings/Cargo.toml -b uniffi
     - uses: actions/upload-artifact@v4
       with:
         name: windows-wheels
         path: target/wheels

